body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    flex-direction: row;
}

.line-matched {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
